<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %> stats</title>
        
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
        <link rel='stylesheet' href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'>
        <link rel='stylesheet' href='/stylesheets/style.css'>

        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/scripts.js"></script>
    </head>
    <body>
        <div id="content">
            <h1><%= title %></h1>
            <div id="menu">
                Showing logs for: <input id="datepicker" type="text"> |
                <select id="search-type">
                    <option value="nick">Search nick</option>
                    <option value="log" selected>Search Log</option>
                </select>
                <input id="search" type="text" placeholder="Search query">
                <div id="scroll"><a id="scroll-to-bottom" href="#">Scroll to bottom</a></div>
            </div>
            <ul id="logs"></ul>
            <div id="new-logs-message"><a href="#"><span id="number-of-new-logs">0</span> new message(s)!</a></div>

            <div class="float-left">
                <h3>5 most chatty</h3>
                <ol id="mostChatty" class="chatty"></ol>
            </div>

            <div class="float-right">
                <h3>5 least chatty</h3>
                <ol id="leastChatty" class="chatty"></ol>
            </div>
        </div>
    </body>
</html>