body {
    font-family: 'Open Sans', sans-serif;
    background: #f1f1f1;
    color: #222;

    a {
        color: #00B7FF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#content {
    width: 960px;
    margin: 0 auto;

    #menu {
        padding: 0 0 5px 0;

        input {
            margin: 0 0 0 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 5px;
            width: 70px;
            background: #fff;
        }

        #search {
            width: 120px;
        }

        #scroll {
            text-align: right;
            font-size: 0.8em;
            float: right;
        }
    }

    ul#logs {
        list-style-type: none;
        width: 958px;
        padding: 0;
        margin: 0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: 398px;
        border: 1px solid #111;
        background-color: #222;
        color: #f1f1f1;
        .clearfix;

        li {
            width: 868px;
            padding: 10px 10px 10px 80px;
            font-weight: 300;
            font-size: 0.9em;
            text-indent: -70px;

            &:nth-child(even) {
                background: #333;
            }

            .color {
                font-weight: 600;
            }

            .date {
                color: #999;
                font-weight: 300;
            }
        }
    }

    #new-logs-message {
        padding: 15px 10px;
        text-align: center;
    }

    ol.chatty {
        margin: 0 0 20px 0;
        padding-left: 25px;

        li {
            padding: 5px;
            font-weight: 400;

            &:nth-child(even) {
                background: #ddd;
            }
        }
    }

    .float-left {
        float: left;
        width: 460px;
    }

    .float-right {
        float: right;
        width: 460px;
    }
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

@media (max-width: 960px) {
    #content {
        width: 100% !important;

        ul#logs {

            li {
                width: 100% !important;
            }
        }

        .float-left {
            clear: left !important;
            width: 100% !important;
        }

        .float-right {
            clear: right !important;
            width: 100% !important;
        }
    }
}