body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body a {
  color: #00B7FF;
}
#content {
  width: 960px;
  margin: 0 auto;
}
#content ul#logs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 598px;
  border: 1px solid #bbb;
}
#content ul#logs li {
  width: 938px;
  padding: 15px 10px;
  border-bottom: 1px solid #bbb;
}
#content ul#logs li:nth-child(even) {
  background: #eee;
}
#content ul#logs li .date {
  color: #999;
}
#content ol.chatty {
  margin: 0 0 20px 0;
  padding-left: 25px;
}
#content ol.chatty li {
  padding: 5px 0;
}
#content ol.chatty li:nth-child(even) {
  background: #eee;
}
#content .float-left {
  float: left;
  width: 470px;
}
#content .float-right {
  float: right;
  width: 470px;
}
#content .clearer {
  clear: both;
}
@media (max-width: 960px) {
  #content {
    width: 100% !important;
  }
  #content ul#logs li {
    width: 100% !important;
  }
  #content .float-left {
    clear: left !important;
    width: 100% !important;
  }
  #content .float-right {
    clear: right !important;
    width: 100% !important;
  }
}
