body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  a {
	  color: #00B7FF;
	}
}

#content {
	width: 960px;
	margin: 0 auto;

	ul#logs {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: scroll;
		height: 598px;
		border: 1px solid #bbb;

		li {
			width: 938px;
			padding: 15px 10px;
			border-bottom: 1px solid #bbb;

			&:nth-child(odd) {
				background: #eee;
			}

			&:last-child {
				border-bottom: 0;
			}

			.date {
				color: #999;
			}
		}
	}

	ol.chatty {
		margin: 0 0 20px 0;
		padding-left: 25px;

		li {
			padding: 5px 0;

			&:nth-child(odd) {
				background: #eee;
			}
		}
	}

	.float-left {
		float: left;
		width: 470px;
	}

	.float-right {
		float: right;
		width: 470px;
	}

	.clearer {
		clear: both;
	}
}

@media (max-width: 960px) {
	#content {
		width: 100% !important;

		ul#logs {
			height: 100% !important;
			overflow: hidden !important;

			li {
				width: 100% !important;
			}
		}
	}
}